.carousel {
  position: relative;
  height: 20em;
  width: max-content;
  cursor: pointer;
  padding: 5em;
}

.stacked-image {
  transition: transform 0.5s ease;
  object-fit: cover;
  height: 20em;
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
}
