

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4;
  border-top: 2px solid #000;
  position: -webkit-sticky;
  /* For Safari */
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  margin: 0 15px;
  color: #333;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}