.SFPButton {
  border: 1px solid black;
  padding-left: 0.9em;
  padding-right: 0.9em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 15px;
  border-radius: 1vh;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.75vw;
  box-shadow: 1px 1px 0px black;
  transition: all 0.15s ease-out;
}

.SFPButton:hover {
  box-shadow: -3px 8px 0px black;
}

.red {
  background-color: #ff472b;
  color: white;
}
