@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Noto+Sans:ital,wght@0,500;0,800;1,400&family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
.intro-container {
  width: 100%;
  min-height: 100vh;
  /* margin: 0; */
  /* padding-left: 200px !important; */
}

.home > h1 {
  font-family: "Archivo Black", sans-serif;
  font-size: 8vw;
}

.home > h3 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 3vw;
}

.home > h4 {
  font-size: 2.5vw;
  font-family: "Noto Sans", sans-serif;
  width: 50%;
}

.home > p {
  font-size: xx-large;
  width: 75%;
  font-family: "Noto Sans", sans-serif;
}

.intro-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-button > div {
  margin: 0;
  padding: 0;
  padding-right: 5%;
  max-width: fit-content !important;
}

/* #FF472B */
/* #FFE66D OR #FFB20F ?*/

/* #3D2B3D */
/* #1C2826 */

/* #C5E0D8 */
/* #B5FFE9 */
/* #1A535C */
/* #4B88A2 */
/* Mission section */

.mission-container {
  min-height: 75vh;
  background-color: #c5e0d8;
  background-color: #ffe66d;
}

/* Events CSS */

.events-container {
}

.interschool-container {
  width: 95% !important;
  background-color: #ff472b;
  border-top-right-radius: 10px;
  border: solid black 4px;
  padding-top: 1em !important;
  padding-left: 2em !important;
  height: fit-content !important;
}

.event > h1 {
  padding-right: 0.5em;
  padding-left: 0.3em;
  border-radius: 5px;
  border: solid black 4px;
  background-color: white;
  max-width: fit-content;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.8);
  font-size: 6em;
  font-family: "Russo One", sans-serif;
}

.event-content {
  padding: 0.5em;
  padding-top: 3em;
  /* padding-bottom: 5em; */
  /* height: 40%; */
  min-height: fit-content;
  /* background-color: purple; */
}

.event > p {
  background-color: #c7d6d1;
  height: 100%;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.5em;
  border: solid black 2px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.8);
}

.event-stats {
}

.event {
  font-family: "Noto Sans", sans-serif;
}
.event-stat {
  background-color: rgba(179, 255, 232, 0.9);
  font-family: "Archivo Black", sans-serif;
  border-radius: 5px;
  font-size: large;
  border: solid black 2px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.8);
  margin: 0.6em;
  padding: 1em;
  min-width: fit-content;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  justify-content: space-evenly;
}

.event-stat > h1 {
  font-size: 5em;
  display: inline;
  padding: 0;
  margin: 0;
}

.event-stat > h3 {
  font-size: 2em;
  display: inline;
  padding: 0;
  margin: 0;
}

.event-stat > h2 {
  font-size: 3em;
  display: inline;
}

.event-carousel {
  padding: 2em;
  padding-bottom: 5em;
  /* padding: 20em !important; */
  min-height: fit-content !important;
}

.about-container {
  background-color: #b5ffe9;
  min-height: 100vh;
}

.about-img > img {
  height: 15em;
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: 2px 1px 0px black;
  transition: box-shadow 0.1s ease-out;
  margin-right: 1em;
}

.about-img > img:hover {
  box-shadow: 5px 3px 0px black;
}

.about-img {
  background-color: #ffe66d;
  margin: 1em;
  padding: 1em;
  /* padding-right: 0; */
  border: 2px solid black;
  border-top-right-radius: 5px;
  display: flex;
  flex-basis: 100%;
}
